.BeverageInterface {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    gap: 15px;
}

.ScreenPanel {
    flex: 0 0 72%;
}

.InteractionPanel {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 10px;
}

.InteractionPanel .ChangeNumberPanel {
    flex: 4 0;
    overflow: hidden;
}

.InteractionPanel .LockUnlockCoinPanel {
    flex: 2 0;
    overflow: hidden;
}

.InteractionPanel .Void {
    flex: 3 0;
    overflow: hidden;
}