.Drink {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.Drink:hover {
    transform: translateY(-2%);
}

.Drink .Cover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 0 0 70%;
}
.Drink .Cover img {
    height: 100%;
    max-width: 100%;
}

.Drink .Title {
    font-size: 1rem;
    font-weight: bold;
}
.Drink .Cost {
}

.Drink.Blocked {
    filter: brightness(0.55);
    cursor: auto;
    color: gray;
}