.BeverageInterface {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    gap: 15px;
}

.ScreenPanel {
    flex: 0 0 72%;
}

.InteractionPanel {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 10px;
}

.InteractionPanel .BalancePanel {
    flex: 2 0;
    overflow: hidden;
}

.InteractionPanel .CoinSelectpanel {
    flex: 2 0;
    overflow: hidden;
}

.InteractionPanel .OtherButtons {
    flex: 1 0;
    overflow: hidden;
}

.InteractionPanel .OtherButtons .Button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 3%;
    cursor: pointer;
    font-size: 1.3rem;
}

.InteractionPanel .OtherButtons .Button:hover {
    background-color: rgb(249, 250, 251);
}

.InteractionPanel .ChangePanel {
    flex: 3 0;
    overflow: hidden;
}